@use "./generales/variables";
@use "./generales/mixins";

@use "./generales/buttons";

@use "./generales/header";
@use "./generales/footer";

@use "./page/inicio";
@use "./page/venta";
@use "./page/contacto";



.btn-primary {
  background-color: #f09154;
  border: none;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px 20px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #d9793f;
    transform: translateY(-2px);
  }
}

.btn-success {
  background-color: #5bcebf;
  border: none;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px 20px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #4bb1a5;
    transform: translateY(-2px);
  }
}

.btn-secondary {
  background-color: #4bb1a5;
  border: none;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  color: #fff;

  &:hover {
    background-color: #367b72;
    transform: translateY(-2px);
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 40px 40px;
  filter: invert(55%) sepia(21%) saturate(500%) hue-rotate(120deg) brightness(95%) contrast(90%);
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235bcebf' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235bcebf' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}